# <span style="color:lightblue"> DATA SCIENCE AND MACHINE LEARNING INTERNSHIP PROGRAM </span>

<h2><center><u>Assignment_4</u></center><h2>

In [22]:
# Importing useful libraries

#dataFrame manipulation and visualiztion
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('Display.max_columns', None)
pd.set_option('Display.max_rows', None)

#Needed libraries
import datetime

## <span style="color:lightblue"> **Problem Statement 1:** </span>
The data (sample) were collected in SÃ£o Paulo - Brazil, in a university, where there are some parties with groups of students from 18 to 28 years of age (average). The dataset used for this activity has 7 attributes, being a Target, with a period of one year. You have to predict the quantity of beer consumption based on the features that contain climate conditions.

**Dataset Description**
- Data: date of the record
- Temperatura Media (C): Average temperature of the day in celsius
- Temperatura Minima (C): Minimum temperature of the day in celsius
- Temperatura Maxima (C): Maximum temperature of the day in celsius
- Precipitacao (mm): Percipitation in mm
- Final de Semana: If the day is the weekend or not
- Consumo de cerveja (litros): Beer consumption in liters

I would be writing python code to perform the following tasks mentioned:
1. Load the dataset, check its shape
2. Rectify the data of the first four columns
   **Hint:** Check columns 'Temperatura Media(C)', 'Temperatura Minima (C)', 'Temperatura Maxima (C)' and 'Precipitacao'<br>
   Fix the following errors present in these features
3. Create new features using the 'Data' feature and the make 'Data' column as index<br>
    **Hint:** Create a new feature 'Month' from the dates, consisting of the month of the year.<br>
    Create a new feature 'Day' from the dates, consisting of the day of the week.
    Set values from the 'Data' column as indexes. Use code snippet:
    `df1.set_index('Data', inplace=True)`
4. Handle null and duplicate values
5. Check the data type of the features and convert them to the appropriate data type
6. Analyse features with outlier values
7. Plot and analyze the correlation
8. Split the datast for training and testing
9. Train a linear regression model and print the intercept and coefficients
10. Evaluate the model using the R2 score, mean absolute error and root mean squared error

#### Beer_df refers to the dataframe for the Consumo_cervea data

In [2]:
beer_df = pd.read_csv("./../Assignment_files/Consumo_cerveja_ass4.csv")
beer_df.shape

(941, 7)

#### creating a date column from the data column of dtype datetime so I can access the dates

In [3]:
date_df = pd.to_datetime(beer_df["Data"])
beer_df.head()

,Data,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
0,2015-01-01,"27,3","23,9","32,5",0,0.0,25.461
1,2015-01-02,"27,02","24,5","33,5",0,0.0,28.972
2,2015-01-03,"24,82","22,4","29,9",0,1.0,30.814
3,2015-01-04,"23,98","21,5","28,6","1,2",1.0,29.799
4,2015-01-05,"23,82",21,"28,3",0,0.0,28.900

#### Converting the object columns of dtype to floats

In [4]:
for column in beer_df.columns:
    if beer_df[column].dtype == 'object':
        beer_df[column] = beer_df[column].str.replace(",", ".")

#convert columns to numeric dtypes
beer_df = beer_df.apply(pd.to_numeric, errors='coerce')

#convert data to datetime object to be able to extract days, months, time in general
beer_df['Data'] = date_df

In [6]:
beer_df.dtypes

Data                           datetime64[ns]
Temperatura Media (C)                 float64
Temperatura Minima (C)                float64
Temperatura Maxima (C)                float64
Precipitacao (mm)                     float64
Final de Semana                       float64
Consumo de cerveja (litros)           float64
dtype: object

In [7]:
beer_df.set_index('Data', inplace=True)
beer_df.head()

,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
Data,,,,,,
2015-01-01,27.30,23.9,32.5,0.0,0.0,25.461
2015-01-02,27.02,24.5,33.5,0.0,0.0,28.972
2015-01-03,24.82,22.4,29.9,0.0,1.0,30.814
2015-01-04,23.98,21.5,28.6,1.2,1.0,29.799
2015-01-05,23.82,21.0,28.3,0.0,0.0,28.900

In [24]:
# Creating new features
beer_df['Month'] = pd.DatetimeIndex(date_df).month
beer_df['Day'] = pd.DatetimeIndex(date_df).day
beer_df.head()

,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros),Month,Day
Data,,,,,,,,
2015-01-01,27.30,23.9,32.5,0.0,0.0,25.461,1.0,1.0
2015-01-02,27.02,24.5,33.5,0.0,0.0,28.972,1.0,2.0
2015-01-03,24.82,22.4,29.9,0.0,1.0,30.814,1.0,3.0
2015-01-04,23.98,21.5,28.6,1.2,1.0,29.799,1.0,4.0
2015-01-05,23.82,21.0,28.3,0.0,0.0,28.900,1.0,5.0

In [25]:
beer_df.dtypes

Temperatura Media (C)          float64
Temperatura Minima (C)         float64
Temperatura Maxima (C)         float64
Precipitacao (mm)              float64
Final de Semana                float64
Consumo de cerveja (litros)    float64
Month                          float64
Day                            float64
dtype: object

In [28]:
beer_df.describe()

,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros),Month,Day
count,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000
mean,21.226356,17.461370,26.611507,5.196712,0.284932,25.401367,6.526027,15.720548
std,3.180108,2.826185,4.317366,12.417844,0.452001,4.399143,3.452584,8.808321
min,12.900000,10.600000,14.500000,0.000000,0.000000,14.343000,1.000000,1.000000
25%,19.020000,15.300000,23.800000,0.000000,0.000000,22.008000,4.000000,8.000000
50%,21.380000,17.900000,26.900000,0.000000,0.000000,24.867000,7.000000,16.000000
75%,23.280000,19.600000,29.400000,3.200000,1.000000,28.631000,10.000000,23.000000
max,28.860000,24.500000,36.500000,94.800000,1.000000,37.937000,12.000000,31.000000

In [41]:
beer_df.duplicated()

Data
2015-01-01    False
2015-01-02    False
2015-01-03    False
2015-01-04    False
2015-01-05    False
2015-01-06    False
2015-01-07    False
2015-01-08    False
2015-01-09    False
2015-01-10    False
2015-01-11    False
2015-01-12    False
2015-01-13    False
2015-01-14    False
2015-01-15    False
2015-01-16    False
2015-01-17    False
2015-01-18    False
2015-01-19    False
2015-01-20    False
2015-01-21    False
2015-01-22    False
2015-01-23    False
2015-01-24    False
2015-01-25    False
2015-01-26    False
2015-01-27    False
2015-01-28    False
2015-01-29    False
2015-01-30    False
2015-01-31    False
2015-02-01    False
2015-02-02    False
2015-02-03    False
2015-02-04    False
2015-02-05    False
2015-02-06    False
2015-02-07    False
2015-02-08    False
2015-02-09    False
2015-02-10    False
2015-02-11    False
2015-02-12    False
2015-02-13    False
2015-02-14    False
2015-02-15    False
2015-02-16    False
2015-02-17    False
2015-02-18    False
2015-02-19    False
2015-02-20    False
2015-02-21    False
2015-02-22    False
2015-02-23    False
2015-02-24    False
2015-02-25    False
2015-02-26    False
2015-02-27    False
2015-02-28    False
2015-03-01    False
2015-03-02    False
2015-03-03    False
2015-03-04    False
2015-03-05    False
2015-03-06    False
2015-03-07    False
2015-03-08    False
2015-03-09    False
2015-03-10    False
2015-03-11    False
2015-03-12    False
2015-03-13    False
2015-03-14    False
2015-03-15    False
2015-03-16    False
2015-03-17    False
2015-03-18    False
2015-03-19    False
2015-03-20    False
2015-03-21    False
2015-03-22    False
2015-03-23    False
2015-03-24    False
2015-03-25    False
2015-03-26    False
2015-03-27    False
2015-03-28    False
2015-03-29    False
2015-03-30    False
2015-03-31    False
2015-04-01    False
2015-04-02    False
2015-04-03    False
2015-04-04    False
2015-04-05    False
2015-04-06    False
2015-04-07    False
2015-04-08    False
2015-04-09    False
2015-04-10    False
2015-04-11    False
2015-04-12    False
2015-04-13    False
2015-04-14    False
2015-04-15    False
2015-04-16    False
2015-04-17    False
2015-04-18    False
2015-04-19    False
2015-04-20    False
2015-04-21    False
2015-04-22    False
2015-04-23    False
2015-04-24    False
2015-04-25    False
2015-04-26    False
2015-04-27    False
2015-04-28    False
2015-04-29    False
2015-04-30    False
2015-05-01    False
2015-05-02    False
2015-05-03    False
2015-05-04    False
2015-05-05    False
2015-05-06    False
2015-05-07    False
2015-05-08    False
2015-05-09    False
2015-05-10    False
2015-05-11    False
2015-05-12    False
2015-05-13    False
2015-05-14    False
2015-05-15    False
2015-05-16    False
2015-05-17    False
2015-05-18    False
2015-05-19    False
2015-05-20    False
2015-05-21    False
2015-05-22    False
2015-05-23    False
2015-05-24    False
2015-05-25    False
2015-05-26    False
2015-05-27    False
2015-05-28    False
2015-05-29    False
2015-05-30    False
2015-05-31    False
2015-06-01    False
2015-06-02    False
2015-06-03    False
2015-06-04    False
2015-06-05    False
2015-06-06    False
2015-06-07    False
2015-06-08    False
2015-06-09    False
2015-06-10    False
2015-06-11    False
2015-06-12    False
2015-06-13    False
2015-06-14    False
2015-06-15    False
2015-06-16    False
2015-06-17    False
2015-06-18    False
2015-06-19    False
2015-06-20    False
2015-06-21    False
2015-06-22    False
2015-06-23    False
2015-06-24    False
2015-06-25    False
2015-06-26    False
2015-06-27    False
2015-06-28    False
2015-06-29    False
2015-06-30    False
2015-07-01    False
2015-07-02    False
2015-07-03    False
2015-07-04    False
2015-07-05    False
2015-07-06    False
2015-07-07    False
2015-07-08    False
2015-07-09    False
2015-07-10    False
2015-07-11    False
2015-07-12    False
2015-07-13    False
2015-07-14    False
2015-07-15    False
2015-07-16    False
2015-07-17    False
2015-07-18    False
2015-07-19    False
2015-07-20    False
2015-07-21    False
2015-07-22    False
2015-07-23    False
2015-07-24    False
2015-07-25    False
2015-07-26    False
2015-07-27    False
2015-07-28    False
2015-07-29    False
2015-07-30    False
2015-07-31    False
2015-08-01    False
2015-08-02    False
2015-08-03    False
2015-08-04    False
2015-08-05    False
2015-08-06    False
2015-08-07    False
2015-08-08    False
2015-08-09    False
2015-08-10    False
2015-08-11    False
2015-08-12    False
2015-08-13    False
2015-08-14    False
2015-08-15    False
2015-08-16    False
2015-08-17    False
2015-08-18    False
2015-08-19    False
2015-08-20    False
2015-08-21    False
2015-08-22    False
2015-08-23    False
2015-08-24    False
2015-08-25    False
2015-08-26    False
2015-08-27    False
2015-08-28    False
2015-08-29    False
2015-08-30    False
2015-08-31    False
2015-09-01    False
2015-09-02    False
2015-09-03    False
2015-09-04    False
2015-09-05    False
2015-09-06    False
2015-09-07    False
2015-09-08    False
2015-09-09    False
2015-09-10    False
2015-09-11    False
2015-09-12    False
2015-09-13    False
2015-09-14    False
2015-09-15    False
2015-09-16    False
2015-09-17    False
2015-09-18    False
2015-09-19    False
2015-09-20    False
2015-09-21    False
2015-09-22    False
2015-09-23    False
2015-09-24    False
2015-09-25    False
2015-09-26    False
2015-09-27    False
2015-09-28    False
2015-09-29    False
2015-09-30    False
2015-10-01    False
2015-10-02    False
2015-10-03    False
2015-10-04    False
2015-10-05    False
2015-10-06    False
2015-10-07    False
2015-10-08    False
2015-10-09    False
2015-10-10    False
2015-10-11    False
2015-10-12    False
2015-10-13    False
2015-10-14    False
2015-10-15    False
2015-10-16    False
2015-10-17    False
2015-10-18    False
2015-10-19    False
2015-10-20    False
2015-10-21    False
2015-10-22    False
2015-10-23    False
2015-10-24    False
2015-10-25    False
2015-10-26    False
2015-10-27    False
2015-10-28    False
2015-10-29    False
2015-10-30    False
2015-10-31    False
2015-11-01    False
2015-11-02    False
2015-11-03    False
2015-11-04    False
2015-11-05    False
2015-11-06    False
2015-11-07    False
2015-11-08    False
2015-11-09    False
2015-11-10    False
2015-11-11    False
2015-11-12    False
2015-11-13    False
2015-11-14    False
2015-11-15    False
2015-11-16    False
2015-11-17    False
2015-11-18    False
2015-11-19    False
2015-11-20    False
2015-11-21    False
2015-11-22    False
2015-11-23    False
2015-11-24    False
2015-11-25    False
2015-11-26    False
2015-11-27    False
2015-11-28    False
2015-11-29    False
2015-11-30    False
2015-12-01    False
2015-12-02    False
2015-12-03    False
2015-12-04    False
2015-12-05    False
2015-12-06    False
2015-12-07    False
2015-12-08    False
2015-12-09    False
2015-12-10    False
2015-12-11    False
2015-12-12    False
2015-12-13    False
2015-12-14    False
2015-12-15    False
2015-12-16    False
2015-12-17    False
2015-12-18    False
2015-12-19    False
2015-12-20    False
2015-12-21    False
2015-12-22    False
2015-12-23    False
2015-12-24    False
2015-12-25    False
2015-12-26    False
2015-12-27    False
2015-12-28    False
2015-12-29    False
2015-12-30    False
2015-12-31    False
NaT           False
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
NaT            True
dtype: bool

In [ ]:
#Stopped at trying to remove duplicates from the data

## <span style="color:lightblue"> **Problem Statement 2:** </span>
I am provided with the california housing dataset. Based on the given parameters of a house, predict its price.

**Dataset Description:**

The dataset contains nine features:
- Longitude: A measure of how far west a house is; a higher value is farther west
- Latitude: A measure of how far north a house is; a higher value is farther north
- hosingMedianAge: Meduan age of a house within a block; a lower number is a newser building
- total rooms: Total number of rooms withina block
- total bedrooms: Total number of bedrooms within a block
- populations: Total number of people residing within a block
- households: Total number of households, a group of people residing within a home unit, for a block
- median income: Median income for households within a block of houses (measured in tens of thousands of US Dollars)
- median house value: Median house value for households within a block (measured in US Dollars)

I'm writing a python code to perform the following tasks mentioned:
1. Load the datam check its shape and check for null values
2. Split the datset for training and testing - 1000- instances for testing
3. Train the model using sklearn (Apply linear regression to train a model for prediction)
4. Predict the prices on test data and evaluate the model by r2 score and mean absolute error
5. Find coefficient and intercept using the trained model

In [12]:
beer_df.head()

,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
Data,,,,,,
2015-01-01,27.30,23.9,32.5,0.0,0.0,25.461
2015-01-02,27.02,24.5,33.5,0.0,0.0,28.972
2015-01-03,24.82,22.4,29.9,0.0,1.0,30.814
2015-01-04,23.98,21.5,28.6,1.2,1.0,29.799
2015-01-05,23.82,21.0,28.3,0.0,0.0,28.900

## <span style="color:lightblue"> **Problem Statement 3:** </span>
I have been provided with the  medical cost dataset. I need to predict individual medical costs billed by health insurance.

Dataset Description:
- age: age of the primary beneficiary
- sex: gender of primary beneficiary female, male
- bmi: Body mass index, providing an understanding of the body, weights that are relatively<br>
  high or low relative to height, an objective index of body.
- weight(kg/m ^ 2) using the ratio of height to weight, ideally 18.5 to 24.9
- Children: Number of children covered by health insurance / Number of dependents
- smoker: Smokes or not
- region: the beneficiary's residential area in the US, northest, southeast, southwest, northwest
- charges: Individual medical costs billed by health insurance

I would write a python code to perform the following tasks mentioned:
1. Load the datam check its shape and check for null values
2. Convert categorical features to numerical values (Use One-Hot Encoding)
3. Split the dataset for training and testing
4. Train the model using sklearn - Linear Regression
5. Find the intercept and coefficient from the trained model
6. Predict the prices of test data and evalutate the model using calculated r2 score and root mean squared error

## <span style="color:lightblue"> **Problem Statement 4:** </span>
I have been provided with the '50_Startups' data. Using the given features, I must predict the profit of these startups.

**Dataset Description:**
- R&D Spend: Expenditures in Research and Development
- Administration: Expenditures in Administration
- Marketing Spend: Expenditures in Marketing
- State: In which state the company belongs to
- Profit: The profit made by the company

I would write python code to perform the following tasks mentioned:
1. Load the data, check its shape and check for null values
2. Convert categorical features to numerical values using Label Encoder
3. Split the dataset for training and testing
4. Train the model using sklearn (linear regression), also find the intercept and coefficient from the trained model
5. Predict the profits of test data and evaluate the model using r2 score and mean squared error
6. Regularize the model using Ridge Regression and find the score
7. Regularize the model using Lasso Regeression and find the score